<p id="notice"><%= notice %></p>

<h1>Perspective Drawings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @perspective_drawings.each do |perspective_drawing| %>
      <tr>
        <td><%= link_to 'Show', perspective_drawing %></td>
        <td><%= link_to 'Edit', edit_perspective_drawing_path(perspective_drawing) %></td>
        <td><%= link_to 'Destroy', perspective_drawing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Perspective Drawing', new_perspective_drawing_path %>
