
<div id="home_title_wrapper">
  <h1 class="title" id="home_title">Duarte de Armas' <em>Livro das Fortalezas</em></h1>
  <h2 id="subtitle">The book of Fortresses is a digital art history project that spatially reconstructs <br/> a rare early-16th century Portuguese source by the same name.</h2>
</div>
<br/>
<br/>
<div id="home_sites_gallery_wrapper">
  <div id="home_sites_gallery">
    <!-- Castro Marim -->
      <a href="<%= location_path ('mertola') %>" class="home_site_card">
      <div class="home_site_card_image" id="home_site_1">
      </div>
      <div class="home_site_card_metadata">
        <br/>
        <h3>Mértola</h3>
      </div>
    </a>
    <!-- Alcoutim -->
    <a href="<%= location_path ('alcoutim') %>" class="home_site_card">
    <div class="home_site_card_image" id="home_site_2">
    </div>
    <div class="home_site_card_metadata">
      <br/>
      <h3>Alcoutim</h3>
    </div>
  </a>
    <!-- Serpa -->
    <a href="<%= location_path ('alandroal') %>" class="home_site_card">
    <div class="home_site_card_image" id="home_site_3">
    </div>
    <div class="home_site_card_metadata">
      <br/>
      <h3>Alandroal</h3>
    </div>
  </a>
  </div>
</div>
<p>
  The aim of the Book of Fortresses project is to spatially reconstruct an exceptional architectural source from early modern Portugal called the Livro das Fortalezas (Book of Fortresses). The book contains 120 perspective drawings and architectural plans of more than 55 fortresses and fortified towns along the border between Portugal and Spain. It also contains a brief but clear itinerary followed by the book’s author (a Portuguese Squire named Duarte de Armas) when he traveled to each site in 1509.
</p>
<p>
  The digital project takes a multi-scale approach to the book. At the architectural scale, undergraduate students began creating massing models of the fortifications according to Duarte de Armas' measured plans and perspective drawings in 2017. In successive stages, these perspective drawings were also oriented to a landscape within a 3D GIS. in 2018 and 2019, Photogrammetric scans of the fortifications were captured for a selection of sites at the beginning of Duarte de Armas' itinerary in the Algarve and Alentejo, and a more thorough scan of the middle of the itinerary in Beira and Trás-os-Montes is planned for Summer 2022. This portion of the project is designed to discover the nature of the artist’s rendering of perspective, how “panoramic” his perspective drawings were, and how many vantage points might have been required to capture the architecture and surrounding landscape in each image. This data will also be added as a layer in the 3D GIS system to help juxtapose Duarte de Armas' plan drawings and measurements with extant masonry. Finally, at the national / peninsula scale, Duarte de Armas' itinerary has been mapped, and viewshed analyses from each site have been run in order to determine how interconnected the sites may have been in the medieval and early modern periods. A rotating team of undergraduate and graduate students has also been building up a database of information about each location and drawing using a cloud-based software called Airtable. This database also forms the back-end of the project website.
</p>
<p>
  This site aggregates a lot of the work that has been done on the project, especially the 3D GIS layers. It is in a near constant state of development as more fortresses are modeled or scanned and as the images of the book are annotated and structured in the database. The site is intended (primarily) to act as a portal into the digital work that is discussed in much greater detail in forthcoming written publications. 
</p>
<p>
  Spatial work on the project is mostly displayed on this site through ArcGIS Online embeds, but thanks to a grant from the Office of Digital Humanities at the National Endowment for the Humanities, the Book of Fortresses has also become a test project for a more malleable 3D mapping system called the <a href="https://www.sandcastle3d.org">"Sandcastle Workflow."</a> The chief goal of this project is to develop an alternative to GIS for visualizing early modern city views, or "chorographies" whose spatial schemas are more imaginative, and less mathematical than a Cartesian GIS. This workflow and the associated Sandcastle toolkit are being designed using SideFX Houdini (a procedural modeling software) in 2020-2022 by Dr. Triplett and a team of Undergraduate students at Duke University.
</p>
<br/>
<p>
This project is in collaboration with <a href="http://www.dukewired.org/projects/the-book-of-fortresses/">Wired!</a> at Duke University.
</p>
<br/>
<br/>
<div class="parallax"></div>
<br/>
<br/>
<h2>Explore Featured Sites:</h2>
<br/>
<br/>
<div id="home_sites_gallery_wrapper">
  <div id="home_sites_gallery">
    <!-- Castro Marim -->
      <a href="<%= location_path ('noudar') %>" class="home_site_card">
      <div class="home_site_card_image" id="home_site_4">
      </div>
      <div class="home_site_card_metadata">
        <br/>
        <h3>Noudar</h3>
      </div>
    </a>
    <!-- Alcoutim -->
    <a href="<%= location_path ('penha-garcia') %>" class="home_site_card">
    <div class="home_site_card_image" id="home_site_5">
    </div>
    <div class="home_site_card_metadata">
      <br/>
      <h3>Penha Garcia</h3>
    </div>
  </a>
    <!-- Serpa -->
    <a href="<%= location_path ('freixo-de-espada-a-cinta') %>" class="home_site_card">
    <div class="home_site_card_image" id="home_site_6">
    </div>
    <div class="home_site_card_metadata">
      <br/>
      <h3>Freixo de Espada à Cinta</h3>
    </div>
  </a>
  </div>
</div>
<br/>
<div id="home_sites_gallery_wrapper">
  <div id="home_sites_gallery">
    <!-- Castro Marim -->
      <a href="<%= location_path ('moura') %>" class="home_site_card">
      <div class="home_site_card_image" id="home_site_7">
      </div>
      <div class="home_site_card_metadata">
        <br/>
        <h3>Moura</h3>
      </div>
    </a>
    <!-- Alcoutim -->
    <a href="<%= location_path ('castro-marim') %>" class="home_site_card">
    <div class="home_site_card_image" id="home_site_8">
    </div>
    <div class="home_site_card_metadata">
      <br/>
      <h3>Castro Marim</h3>
    </div>
  </a>
    <!-- Serpa -->
    <a href="<%= location_path ('serpa') %>" class="home_site_card">
    <div class="home_site_card_image" id="home_site_9">
    </div>
    <div class="home_site_card_metadata">
      <br/>
      <h3>Serpa</h3>
    </div>
  </a>
  </div>
</div>
<div id="home_row2">
  <h2>View All Locations: <%= link_to 'Locations', locations_path %></h2>
</div>
<br/>
<br/>
<br/>
<br/>
