<div id="icon-key">
  <div>
    <%= image_tag "locations/icons/font_awesome/PNG/star-solid.png", title: 'Featured Site' %>
    <p>Featured Site</p>
  </div>
  <div>
    <%= image_tag "locations/icons/font_awesome/PNG/mountain-solid.png", title: 'Virtual Landscape'  %>
    <p>Virtual Landscape</p>
  </div>
  <div>
    <%= image_tag "locations/icons/font_awesome/PNG/cube-solid.png", title: '3D Model'  %>
    <p>3D Model Begun</p>
  </div>
  <div>
    <%= image_tag "locations/icons/font_awesome/PNG/images-solid.png", title: '3D Views'  %>
    <p>3D Views Mapped</p>
  </div>
  <div>
    <%= image_tag "locations/icons/font_awesome/PNG/camera-solid.png", title: 'Photogrammetry' %>
    <p>Photogrammetry Begun</p>
  </div>
</div>
