<div id="icon-key">
  <div>
    <%= star_icon %>
    <p><%= featured_site_text %></p>
  </div>
  <div>
    <%= cube_icon %>
    <p><%= model_text %></p>
  </div>
  <div>
    <%= copter_icon %>
    <p><%= drone_text %></p>
  </div>
  <div>
    <%= camera_icon %>
    <p><%= photographed_text %></p>
  </div>
  <div>
    <%= globe_icon %>
    <p><%= views_text %></p>
  </div>
</div>
