<div id="location-metadata">
  <div id="location-events">
    <div id="transfer-events" class="event-category">
      <h3>Transfers of Possession</h3>
      <%= render partial: 'event', collection: @location.transfer_events, as: :event %>
    </div>
    <div id="building-events" class="event-category">
      <h3>Building Activity</h3>
      <%= render partial: 'event', collection: @location.building_events, as: :event %>
    </div>
    <div id="military-events" class="event-category">
      <h3>Military Activity</h3>
      <%= render partial: 'event', collection: @location.military_events, as: :event %>
    </div>
    <div id="charter-events" class="event-category">
      <h3>Charter/Treaty</h3>
      <%= render partial: 'event', collection: @location.charter_events, as: :event %>
    </div>
  </div>
  <div id="event-sources">
    <% if event_sources? %>
      <p>Event Sources: <%= event_sources_text.join(", ") .html_safe %></p>
    <% end %>
  </div>
  <div id="event-credit">
    <p>Event Research by Brittany Forniotis</p>
  </div>
  <div id="model-credit">
    <p>Fusion 360 Model by: <%= @location.model_collaborators %>
  </div>
</div>
