<div id="location_metadata">
  <p>Itinerary Order: <%= @location.itinerary_order %></p>
  <% if @location.latitude %>
    <p>Latitude: <%= @location.latitude %></p>
  <% end %>
  <% if @location.longitude %>
    <p>Longitude: <%= @location.longitude %></p>
  <% end %>
  <% if @location.secondary_sites %>
    <p>Secondary Sites: <%= formatted_secondary_sites %></p>
  <% end %>
  <% if @location.wikipedia_link %>
    <p><%= link_to 'Wikipedia', @location.wikipedia_link, target: :_blank %></p>
  <% end %>
  <% if @location.fortalezas_link %>
    <p><%= link_to 'Fortalezas.org', @location.fortalezas_link, target: :_blank %></p>
  <% end %>
  <% if @location.castillosnet_link %>
    <p><%= link_to 'Castillos.net', @location.castillosnet_link, target: :_blank %></p>
  <% end %>
</div>
