



<h1><%= @location.primary_site_name %></h1>
<br/>

<% if @location.latitude %>
<p>Latitude: &nbsp; <%= @location.latitude %></p>
<% end %>

<% if @location.latitude %>
<p>Longitude: &nbsp; <%= @location.longitude %></p>
<% end %>

<% if @location.wikipedia_link %>
<p>Wikipedia: &nbsp;
<%= link_to @location.wikipedia_link, @location.wikipedia_link, target: :_blank %>
</p>
<% end %>

<% if @location.fortalezas_link %>
<p>Fortalezas: &nbsp;
  <%= link_to @location.fortalezas_link, @location.fortalezas_link, target: :_blank %>
</p>
<% end %>

<% if @location.castillosnet_link %>
<p>Castillos.net: &nbsp;
<%= link_to @location.castillosnet_link, @location.castillosnet_link, target: :_blank %>
</p>
<% end %>

<% if @location.at_collaborator_id %>
<p>Collaborator: &nbsp; <%= Collaborator.find_by(at_collaborator_id: @location.at_collaborator_id).name %>
</p>
<% end %>

<% if @location.a360_3D_model_link %>
<p>A360 Model: &nbsp;
<%= link_to @location.a360_3D_model_link, @location.a360_3D_model_link, target: :_blank %>
</p>
<% end %>

<p>URL: &nbsp; <%= link_to location_url(@location), location_path(@location) %></p>
<br/>
<h2>Images: </h2>
<br/>
<div id="location_image_gallery">


<% @location.images.sort_by{|image| image.image_category}.each_with_index do |image, index| %>
<div class="location_image_card">
<div class="location_image_card_counter">
  <h3><%= index +1  %> of <%= @location.images.length %></h3>
</div>
<div class="location_image_card_thumbnail">
  <img src="<%= image.large_thumbnail_url %>" width="200px" height="auto"></img>
</div>
<br/>

<div class="location_image_card_metadata">
  <% if image.perspective_drawing %>
    <% if image.perspective_drawing.folio_number %>
    <p>
      Folio Number: &nbsp; <%= image.perspective_drawing.folio_number %>
    </p>
    <% end %>
    <% if image.perspective_drawing.view_direction %>
    <p>View direction: <%= image.perspective_drawing.view_direction %></p>
    <% end %>
    <% if image.perspective_drawing.secondary_site_name %>
    <p>Secondary site name: <%= image.perspective_drawing.secondary_site_name %></p>
    <% end %>
    <% if image.perspective_drawing.secondary_site_kingdom %>
    <p>Secondary site kingdom: <%= image.perspective_drawing.secondary_site_kingdom %></p>
    <% end %>
    <% if image.perspective_drawing.number_of_watchtowers %>
    <p>Number of watchtowers: <%= image.perspective_drawing.number_of_watchtowers %></p>
    <% end %>
    <% if image.perspective_drawing.exterior_features %>
    <p>Exterior features: <%= image.perspective_drawing.exterior_features %></p>
    <% end %>
    <% if image.perspective_drawing.fortress_features %>
    <p>Fortress features: <%= image.perspective_drawing.fortress_features %></p>
    <% end %>
    <% else %>
    <p>
      <%= @location.primary_site_name %>&nbsp;<%= image.image_category %>
    </p>
    <% end %>
</div>
</div>

<% end %>
</div>
<div id="openseadragon0" style="visibility: visible; width: 100%; height: 800px;"></div>
<div id="openseadragon1" style="visibility: hidden; width: 100%; height: 800px;"></div>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon0",
        tileSources: {
        type: 'image',
        url:  '<%= @location.images.sort_by{|image| image.image_category}[0].url %>'
    }
    });
</script>
<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
        tileSources: {
        type: 'image',
        url:  '<%= @location.images.sort_by{|image| image.image_category}[1].url %>'
    }
    });
</script>
