<h1><%= @location.primary_site_name %></h1>
<br/>


<div id="location_wrapper">
  <div id="location_first_column">
    <div id="location_first_column_first_row">
    <div id="location_metadata">
      <% if @location.wikipedia_link %>
        <p><%= link_to 'Wikipedia', @location.wikipedia_link, target: :_blank %></p>
      <% end %>
      <% if @location.fortalezas_link %>
        <p><%= link_to 'Fortalezas.org', @location.fortalezas_link, target: :_blank %></p>
      <% end %>
      <% if @location.castillosnet_link %>
        <p><%= link_to 'Castillos.net', @location.castillosnet_link, target: :_blank %></p>
      <% end %>
      <% if @location.at_collaborator_id %>
      <p>Collaborator:
        <%= Collaborator.find_by(at_collaborator_id: @location.at_collaborator_id).name %>
      </p>
      <% end %>
    </div><!--location metadata -->
    <div id="location_plan">
      <% if @location.images.detect{|i| i.image_category == "plan"} %>
      <img src="<%= @location.images.detect{|i| i.image_category == "plan"}.url %>"></img>
      <% else %>
      <img src="<%= image_path 'plan_unavailable.png' %>"></img>
      <% end %>
    </div>
    </div>
    <div id="location_image_gallery">
      <% if @location.a360_3D_model_embed %>
      <div class="location_image_card" id="3d_model">
        <div class="location_image_card_thumbnail">
          <img src="<%= image_path '3d_model.png' %>" width="200px" height="auto"></img>
        </div>
      </div>
      <% end %>
      <% @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}.each_with_index do |image, index| %>
      <div class="location_image_card" id="image_<%= index %>">
        <div class="location_image_card_thumbnail">
          <img src="<%= image.large_thumbnail_url %>" width="200px" height="auto"></img>
        </div>
        <div class="location_image_card_metadata">
          <% if image.view_direction %>
          <p>View: <%= image.view_direction %></p>
          <% if image.source == "1642_watercolor" %>
          <p>1642 Watercolor</p>
          <% end %>
          <% end %>
          <% if image.image_category == "satellite image" %>
          <p>Satellite Image</p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div> <!-- image gallery -->
  </div> <!--location first column -->
  <div id="location_second_column">
    <div id="3d_model_iframe" class="openseadragon" style="display: none;">
      <% if @location.a360_3D_model_embed %>
      <%= @location.a360_3D_model_embed .html_safe %>
      <% end %>
    </div>
    <div id="openseadragon_plan" class="openseadragon" style="display: none;"></div>
    <div id="openseadragon" class="openseadragon" style="display: "";"></div>
    <div id="openseadragon_image_0" class="openseadragon" style="display: none;"></div>
    <div id="openseadragon_image_1" class="openseadragon" style="display: none;"></div>
    <div id="openseadragon_image_2" class="openseadragon" style="display: none;"></div>
    <div id="openseadragon_image_3" class="openseadragon" style="display: none;"></div>
    <div id="openseadragon_image_4" class="openseadragon" style="display: none;"></div>
    <div id="openseadragon_image_5" class="openseadragon" style="display: none;"></div>
    <div id="openseadragon_image_6" class="openseadragon" style="display: none;"></div>
  </div><!--location second column -->
</div> <!--location_wrapper -->

<script type="text/javascript">

var initial_viewer = document.getElementById('openseadragon');
var initial_image = document.getElementById('image_0');
var plan_drawing = document.getElementById('location_plan');
var model = document.getElementById('3d_model');
var image_cards = document.querySelectorAll(".location_image_card");
  initial_viewer.style.display = "";
  console.log(initial_image);


function add_listeners(){
  plan_drawing.addEventListener('click', load_plan);
  image_cards.forEach(function(card) {
    if (card.id != '3d_model') {
  card.addEventListener('click',load_image);
  }
});
    if (model) {
  model.addEventListener('click',load_model);
};
  initial_image.style.border = "solid 2px red";
}

function hide_all(){
  [].forEach.call(document.querySelectorAll('.openseadragon'), function (e) {
    e.style.display = 'none';
  });
  image_cards.forEach(function(card){
    card.style.border = "solid 1px dimgray";
  });
  document.getElementById('location_plan').style.border = "solid 1px dimgray";
}

function load_image(){
  hide_all();
  openseadragon_image = document.getElementById('openseadragon_'+this.id);
  openseadragon_image.style.display = "";
  this.style.border = "solid 2px red";
}

function load_model(){
  hide_all();
let model_viewer = document.getElementById('3d_model_iframe');
let model_viewer_iframe = model_viewer.getElementsByTagName("iframe")[0];
console.log("iframe element?:" + model_viewer_iframe);
model_viewer_iframe.style.width = "100%";
model_viewer_iframe.style.height = "100%";
model_viewer.style.display = "";
model.style.border = "solid 2px red";
}

function load_plan(){
  hide_all();
let openseadragon_plan = document.getElementById('openseadragon_plan');
openseadragon_plan.style.display = "";
plan_drawing.style.border = "solid 2px red";
}

  var viewer = OpenSeadragon({
    id: "openseadragon",
    tileSources: {
      type: 'image',
      url: '<%= @location.images.sort_by{|image| image.image_category}[0].url %>'
    }
  });

  var viewer = OpenSeadragon({
    id: "openseadragon_plan",
    tileSources: {
      type: 'image',
      <% if @location.images.detect{|i| i.image_category == "plan"} %>
      url: '<%=  @location.images.detect{|i| i.image_category == "plan"}.url %>'
      <% else %>
      url: '<%= image_path 'plan_unavailable.png' %>'
      <% end %>
    }
  });

  var viewer = OpenSeadragon({
    id: "openseadragon_image_0",
    tileSources: {
      type: 'image',
      <% if @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[0] %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[0].url %>'
      <% else %>
      url: '<%=  @location.images.detect{|i| i.image_category == "plan"}.url %>'
      <% end %>
    }
  });

  var viewer = OpenSeadragon({
    id: "openseadragon_image_1",
    tileSources: {
      type: 'image',
      <% if @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[1] %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[1].url %>'
      <% else %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[0].url %>'
      <% end %>
    }
  });

  var viewer = OpenSeadragon({
    id: "openseadragon_image_2",
    tileSources: {
      type: 'image',
      <% if @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[2] %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[2].url %>'
      <% else %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[0].url %>'
      <% end %>
    }
  });

  var viewer = OpenSeadragon({
    id: "openseadragon_image_3",
    tileSources: {
      type: 'image',
      <% if @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[3] %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[3].url %>'
      <% else %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[0].url %>'
      <% end %>
    }
  });

  var viewer = OpenSeadragon({
    id: "openseadragon_image_4",
    tileSources: {
      type: 'image',
      <% if @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[4] %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[4].url %>'
      <% else %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[0].url %>'
      <% end %>
    }
  });

  var viewer = OpenSeadragon({
    id: "openseadragon_image_5",
    tileSources: {
      type: 'image',
      <% if @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[5] %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[5].url %>'
      <% else %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[0].url %>'
      <% end %>
    }
  });

  var viewer = OpenSeadragon({
    id: "openseadragon_image_6",
    tileSources: {
      type: 'image',
      <% if @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[6] %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[6].url %>'
      <% else %>
      url: '<%= @location.images.select{|i| i.image_category != "plan"}.sort_by{|i| i.image_category}[0].url %>'
      <% end %>
    }
  });



  add_listeners();
</script>
