<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116957787-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-116957787-1');
    </script>

    <title>Book of Fortresses</title>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="<%= asset_path 'logos/BOF.png'%>">
    <link href="https://fonts.googleapis.com/css?family=Varela|Yantramanav" rel="stylesheet">
    <meta property="og:image" content="<%= asset_path 'logos/BOF_Social_Media_Image.jpg' %>"/>
    <meta property="og:image:secure_url" content="<%= asset_path 'logos/BOF_Social_Media_Image.jpg' %>" />
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'images' %>
    <%= stylesheet_link_tag 'locations' %>
    <%= stylesheet_link_tag 'about' %>
    <%= stylesheet_link_tag 'methods' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <div id="site_wrapper">
      <header class="header_footer">
        <a href="<%= root_path %>" id="logo"></a>
        <nav>
          <a href="#" id="menu-icon"></a>
          <%= render partial: "layouts/menu" %>
          <!-- <ul>
            <li>
              <a class="current"><%= link_to 'HOME', root_path %></a>
            </li>
            <li>
              <a><%= link_to 'ABOUT', "/about" %></a>
            </li>
            <li>
              <a><%= link_to 'LOCATIONS', locations_path %></a>
            </li>
            <li>
              <a><%= link_to 'WIRED!', "http://www.dukewired.org/" %></a>
            </li>
          </ul> -->
        </nav>
      </header>
      <div id="header_border" class="top_bottom_border"></div>
      <div id="content_wrapper">
        <section>
          <%= yield %>
          <%= insert_paloma_hook %>
        </section>
      </div>
    </div>
    <div id="footer_border" class="top_bottom_border"></div>
    <footer class="header_footer">
      <%= render partial: "layouts/menu" %>
    </div>

  </body>
</html>
